h1 {
    font-size: 48px;
    color: rgb(63, 90, 116) ;
    padding-left: 350px;
}

p {
    font-size: 16px;
    color: black ;
    padding-left: 350px;
    padding-right: 350px
}

#aus_chart {
    padding-left: 300px;
    padding-bottom: 55px;
}

#mineral_chart {
    padding-left: 350px;
    padding-bottom: 75px;
}

#exp_meters_chart {
    padding-left: 350px;
    padding-bottom: 75px;
}

#onshore_offshore_chart {
    padding-left: 500px;
    padding-bottom: 75px;
}

